<div data-role="view" id="aboutyou">
    <div data-role="header">
        <div data-role="navbar" class="navbar">
            <a data-role="backbutton" data-align="left" class="btn"><img src="project/style/image/logo_mike.png"/></a>
            <span>About You</span>
            <a data-role="button" data-align="right" class="button" data-bind="click:termsAndCondition" data-icon="right"></a>
        </div>
    </div>
    <div data-role="content">
        <div class="contentDiv">
            <div class="control">
                <p>
                    <input type="test" name="mob_number" class="inputcontrol"/>
                </p>
            </div>
        </div>
    </div>
</div>